.bg-custom {
  background-color: rgb(66, 41, 107);
}
.bg-glass {
  background: rgb(157, 157, 157);
  background: linear-gradient(
    150deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0.1) 50%,
    rgba(255, 255, 255, 0.05) 100%
  );
}
